body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  padding-bottom: 110px;
  min-height: 100vh;
}
.all-elements-class {
  padding: 0;
  margin: 0;
  position: relative;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.main-content-wrapper {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
header > .container > .all-elements-class > div > a > img {
  max-width: 100px;
}

header > .container > .all-elements-class > div >  a:nth-child(2) {
  text-decoration: none;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #4f4f4f;
  text-align: center;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 0;
}
header {
  padding: 15px;
  min-height: 110px;
}
.main-navigation {
  width: 100%;
  padding: 5px 0;
  background-color: #4f4f4f;
}
.main-navigation > div >  ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.main-navigation > div > ul > li > a {
  text-decoration: none;
  padding: 10px 15px;
  color: #e9e9e9;
}
.custom-bread {
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}
.layout-content {
  width: 75%;
  padding: 20px 50px 10px 20px;
}
.layout-sidebar-first {
  width: 25%;
  overflow: hidden;
}
.sidebar-custom {
  width: 100%;
  padding: 10px;
  margin-top: 50px;
  background-color: #85bef4;
}
.footer {
  min-height: 110px;
  max-height: 110px;
  width: 100%;
  background-color: #3b3b3b;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.footer > .container > .all-elements-class > .all-elements-class  > a > img {
  max-width: 50px;
}

@media only screen and (max-width: 1400px) {
  .main-content-wrapper {
    width: 940px;
    margin: 0 auto;
  }
  .container {
    width: 910px;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 700px;
  }
  .main-content-wrapper {
    width: 768px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 568px;
  }
  .main-content-wrapper {
    width: 568px;
    margin: 0 auto;
  }
  header {
    padding-top: 25px;
  }

  header > .container > .all-elements-class > div > a > img {
    max-width: 80px;
  }
  header > .container > .all-elements-class > div >  a:nth-child(2) {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: right;
  }

}
@media only screen and (max-width: 568px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .main-content-wrapper {
    width: 100%;
    margin: 0;
  }
}
